nav{
    width:100%;
    color:#fff;
    /*background: #333;*/
    padding:4px 0;
    top:0;
    left:0;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    display: flex;
    z-index: 10;
}
.logo{
    width:180px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}
.container{
    padding-left: 10%;
    padding-right: 10%;
}
.dark-nav{
    background:#212EA0;
    transition: 0.5s;
}